* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #ffffff;
    font-family:"Mier book";
}

/* Navbar */
header{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:10px 20px;
    background:#fff;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
.logo{
    font-weight: bold;
    color: rgba(130, 54, 10, 0.829);
    font-size: 25px;
   font-family: "Helvetica Neue", sans-serif, "Mier Book"

}
.btn{
    padding: 5px 10px;
}
.search{
    padding: 0.5rem 5rem 0.5rem 6rem;
    border: 2px solid #c1b2b258;
}
.search:hover{
    transform: scale(1.1);
}
header a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

header a:hover{
    transform: scale(1);
    padding: 10px
}
.categories{
     display: flex;
    overflow-x: auto;
    /* justify-content: space-around; */
    align-items: center;
    padding: 5px 10px;
    background-color: #ffffffd9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    

}
.categories a{
   padding: 10px;
    text-decoration: none;
    color: black;
  
}

.categories a:hover{
    /* transform: scale(1); */
    padding: 10px;
    text-decoration: underline;
     gap: 10px;
    font-weight: bold;
    color:#9a2289
  
}

/* hero section */

.two{
    background-color: #fdeefa;
    margin: 20px 0;
}
.image img{
     display: flex;
    overflow-x: auto;
    width: 100%;
    height: 50vh;
    
}
.image{
    position: relative;
}
.img-text{
    position: absolute;
    top: 50%;
    right:2px;
    transform: translate(-50%, -50%);
    color: #f3eff2;
    font-size: 1.3rem;
    font-weight: bold;
    text-align:start;
}

.decied{
    display: flex;
    justify-content: space-evenly;
    /* gap: 40px; */
    align-items: center;
    padding: 10px 20px;
    margin: 20px ;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.decied p img{
    width: 20px;
  
}


/* slider */

.slider{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 20px;
    /* background-color: #f0f0f0; */
    cursor: pointer;
   
}
.slider img{
    width: 150px;
    height: 150px;
   margin: 20px;
   
}
.slider img:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

/* image section 2 */

.img-section {
    position: relative;
    /* overflow-x: auto; */
    width: 100%;
    height: 40vh;
}
.img-grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    top: 100%;
    right:1px;
    transform: translate(-50%, -50%);
}

.img-grid img {
    width: 180px;
    height: 200px;
    object-fit: cover;
    padding: 30px;
}

.img-grid img:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;}

.image img{
     display: flex;}

     /* slider */
.sliderr{
    display: flex;
    overflow-x: auto;}

.sliderr img{
    width: 300px;}

.slider img{
    width: 180px;
    height: 180px;
}
.sliderr{display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 20px;
    /* background-color: #f0f0f0; */
    cursor: pointer;
   }
  
    .sliderr img{
    width: 300px;
    height: 300px;
}
/* image section 2 */

.img2 img{
    width: 100%;
    height: 50vh;}
.img2{
    position: relative;
}

.img3{
    display: flex;
    position: absolute;
    right: 200px;
    transform: translate(-100%, -100%);
width: 300px;
height: 300px;
padding-bottom: 60px;
gap: 40px;
cursor: pointer;

}
.img3 img:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.btn2{
    position: absolute;
    padding: 30px 40px;
    background-color: white;
    color: #9a2289;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    left: 250px;
    bottom: 5px;
    padding: 30px;
    font-size: 22px;
    transform: translate(-100%, -100%);
}

/* sidebar */
.sidebar{
    opacity: 0.8;
  width: 280px;
  background: #fff;
  padding: 30px;
  border-right: 1px solid #ddd;
}

.sidebar h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

/* .sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  margin-bottom: 10px;
} */
.sort {
  margin-bottom: 20px;
}
.sort select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
}

.filters h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.filters p {
  color: gray;
  font-size: 15px;
  margin-bottom: 10px;
}

.filters h4 {
  margin: 15px 0 10px;
}

.search-box {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkbox-list label {
  font-size: 18px;
  color: #333;
}

.checkbox-list input {
  margin-right: 8px;
}

.show-more {
  display: block;
  margin-top: 10px;
  color: #ff3f6c;
  text-decoration: none;
  font-size: 18px;
}

/* carts */
.carts{
    display: flex;
    gap: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   size: 10px;
   background-color: #ffffff;
   border: rgba(0, 0, 0, 0.114) solid 1px;
}
.carts img{
    width: 210px;
    height:210px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
}

.cart{
    font-size: 15px;
    border: rgba(0, 0, 0, 0.114) solid 1px;
    padding: 5px;
    line-height: 1.7;
    border-radius: 10px;
    cursor: pointer;
    
}
.cart .rating{
    background-color: green;
    border-radius: 10px;
    padding: 3px 6px;

}
.cart span i{
    color: #f3eff2;
    font-size: 10px;
}