* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #ffffff;
    font-family:"Mier book"
;
}

/* Navbar */
.logo{
    font-weight: bold;
    color: rgba(130, 54, 10, 0.829);
    font-size: 25px;
    /* width: 20px; */
   font-family: "Helvetica Neue", sans-serif, "Mier Book"

}
header {
    display: flex;
    justify-content: space-around;
    /* gap:40px; */
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header img{
    width: 20px;
}
.btn{
    padding: 5px 10px;
}
.search{
    padding: 0.5rem 5rem 0.5rem 6rem;
    border: 2px solid #c1b2b258;
}
.search:hover{
    transform: scale(1.1);
}
header a{
    text-decoration: none;
    color: black;
   
    padding: 10px;
}
header a:hover{
    transform: scale(1);
    padding: 10px
}
.image img{
     display: flex;
    overflow-x: auto;
    width: 100%;
    height: 50vh;
    
}
.categories{
     display: flex;
    overflow-x: auto;
    /* justify-content: space-around; */
    align-items: center;
    padding: 5px 10px;
    background-color: #ffffffd9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    

}
.categories a{
   padding: 10px;
    text-decoration: none;
    color: black;
  
}
.categories a:hover{
    /* transform: scale(1); */
    padding: 10px;
    text-decoration: underline;
     gap: 10px;
    font-weight: bold;
    color:#9a2289
   
   
}
.decied{
    display: flex;
    justify-content: space-evenly;
    /* gap: 40px; */
    align-items: center;
    padding: 10px 20px;
    margin: 20px ;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.two{
    background-color: #fdeefa;
    margin: 20px 0;
}
.slider{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 20px;
    /* background-color: #f0f0f0; */
    cursor: pointer;
   
}
.slider img{
    width: 150px;
    height: 150px;
   margin: 20px;
   
}
.slider img:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.img-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.img-section{
    position: relative;
    /* height: 50vh; */
    
    
}
.img-grid{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(-50%, -50%);
    /* height: 50px; */
    size: 20px;
}
.img-grid img:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.image{
    position: relative;
}
.img-text{
    position: absolute;
    top: 50%;
    right:2px;
    transform: translate(-50%, -50%);
    color: #f3eff2;
    font-size: 1.3rem;
    font-weight: bold;
    text-align:start;
}
.slider img{
    width: 180px;
    height: 180px;
}
.img2 img{
    width: 100%;
    height: 50vh;
}
.img2{
    position: relative;
}
.img3{
    display: flex;
    position: absolute;
    right: 200px;
    transform: translate(-100%, -100%);
    /* height: 50px; */

width: 200px;
height: 200px;
padding-bottom: 50px;
}
.img3 img{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  bottom: 40px;
    padding: 2px;;
}
.img3 img:hover{
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
}
.btn2{
    position: absolute;
    padding: 20px 30px;
    background-color: white;
    color: #9a2289;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    left: 200px;
    bottom: 28px;
    padding: 20px;
    
    transform: translate(-100%, -100%);
   
}
@media (max-width: 768px){

    header{
        flex-direction: column;
        align-items: flex-start;
    }

    .search{
        width: 100%;
    }

    .two{
        flex-direction: column;
    }

    .decied{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .slider img{
        width: 159px;
    }

    .img-section{
        flex-direction: column;
    }

    .img-grid{
        grid-template-columns: 1fr;
    }

    .img-hero{
        flex-direction: column;
    }

    .img3{
        grid-template-columns: 1fr;
    }
}


